body {
  font-family:sans-serif;
}
header {
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:60px;
  padding:5px;
  background-color:#00aaaa;
  box-shadow:0px 5px 5px rgba(0,0,0,0.3);
  z-index:6;
}
h1 {
  font-weight:300;
  color:#FFFFFF;
}

table {
   background-color:#00aaaa;
   width:50%;
    margin-left: 330px;
}
td {
  width:33.3333%;
  height:33.3333%;
}
input {
  width:100%;
  height:100%;
  font-size:90px;
  border:0px;
  background-color:#00bbbb;
  color:#FFFFFF;
  transition-duration:0.3s;
}
input:hover {
  background-color:#00aaaa;
}
#reset {
  padding:5px;
  background-color:#00bbbb;
  border:0px;
  color:#FFFFFF;
  font-size:100%;
    margin-left: 330px;
    cursor: pointer;
}
button:hover {
  background-color:#00aaaa;
}
#popup {
  z-index:5;
  position:fixed;
  left:25%;
  top:40%;
  width:50%;
  padding:5px;
  visibility:hidden;
  background-color:#FFFFFF;
  color:#555555;
  box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}
#popupbutton {
  width:100%;
    background-color:#00bbbb;
  border:0px;
  color:#FFFFFF;
  font-size:100%;
    cursor: pointer;
  }
#overlay {
   position:fixed;
   top:0px;
   left:0px;
   width:100%;
   height:100%;
   background-color:#000000;
   opacity:0.5;
   visibility:hidden;
}
